#  Detecting and Quantifying Gendered Language in data analyst Job Descriptions

dataset collected from https://www.kaggle.com/datasets/joykimaiyo18/linkedin-data-jobs-dataset

## preparing datasets

goals: 
    - discard missing valued entries

In [1]:
import pandas as pd

# Load your dataset
df = pd.read_csv('linkedin_jobs.csv')

In [2]:
df.head()

,id,title,company,location,link,source,date_posted,work_type,employment_type,description
0,1,Data Analyst,Meta,"New York, NY",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,"Washington, DC",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,"Chicago, IL",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-16,NaN,NaN,About Pinterest\n\nMillions of people around t...

In [3]:
df = df.drop(['location','link','date_posted','work_type','source','employment_type'], axis=1)

In [4]:
df.head()

,id,title,company,description
0,1,Data Analyst,Meta,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,About Pinterest\n\nMillions of people around t...